{% extends 'index.html' %}
{% block content %}
<!-- Form for Edit -->
<form action="" method="post">
    {% csrf_token %}
    <table border="0" cellpadding="4" cellspacing="0">
        <tr>
            <td>Item</td>
            <td>{{ form.item.errors }}{{ form.item }}</td>
        </tr>
        <tr>
            <td>DeadLine</td>
            <td>{{ form.deadline.errors }} {{ form.deadline }}</td>
        </tr>
        <tr>
            <td>Percent</td>
            <td>{{ form.percent.errors }} {{ form.percent }}</td>
        </tr>
    </table>

     <input type="submit" value="Update" />

</form>
{% endblock %}
